.navbar-expand-lg .navbar-nav .nav-link {
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link.active:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 84%;
    background-color: #fff;
    bottom: 10px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
}

.bnr-top{
    margin-top: 75px;
}

.leftrightText p {
    font-size: 18px;
    border-left: 3px solid #fff;
    padding-left: 7px;
}

.Exiframe{
    width: 100%;  
}


.presentiang_brouchure_box {
    border-radius: 4px;
}

/*---------360---*/



.banner-heading {
    z-index: 9;
    position: absolute;
    top: 50%;
    /* left: 100px; */
    transform: translateY(-50%);
    max-width: 510px;
    width: 100%;
    color: #ffffff;
}
.banner-heading h1 {
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
}

/* 360 styles ptm */

#one3d {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.controlPanel {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    position: relative;
    left: 0;
    z-index: 1;
    background: #ffffff;
}

.panel-sec h4 {
    line-height: normal;
}
/* 360 styles ptm */

.exterior-360{
    position: relative;
    min-height: 541px;
}
.controlPanel{
    width: 270px;
    border: 1px solid #ccc;
    padding: 30px 20px 0px 20px;
    position: relative;
    left: 0;
    
}

.togglebtn{
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -31px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/*--------------tabeStart---------*/
.TabBtn{
    
    max-width: 300px;
    margin: 0 auto;
}
.TabBtn-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
    margin-top: 30px;
    justify-content: space-between;
}

.TabBtn-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.TabBtn-field label {
	background-color: #fff;
    outline: 0;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	/* transition: all 0.1s ease-in-out; */
    width: 48%;
}

.TabBtn-field .v-field label{
    display: block;
    width: 100%;
  }





.TabBtn-field label {
    border: 2px solid #707070;
}
.TabBtn-field label:hover {
	cursor: pointer;
}



.TabBtn-field label {
	border: none;
    background-color: rgba(0,0,0,.0588235294);
    border-radius: 3px;
    color: #000;
    font-family: "AcherusGrotesque-Medium",sans-serif;
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 30px;
    margin: 0 2px;
    opacity: .5;
}
.TabBtn-field input:checked + label {
	font-family: "AcherusGrotesque-ExtraBold",sans-serif;
    font-weight: 800;
    border-bottom: 3px solid #000;
    background-color: #fff;
    opacity: 1;
}


/*-----tabend---*/

.panel-sec{
margin-bottom: 30px;
}

.panel-sec h4{
text-transform: uppercase;
font-size: 18px;
color: #000;
font-weight: 700;
margin: 0;
line-height: 0;
font-family: "AcherusGrotesque-Bold", sans-serif;
}

.color-btn{
    display: flex;
    justify-content: start;
    margin-top: 20px;
}

.color__radio-input {
    display: none;
  }
  
  .color__label-radio {
    font-size: 12px;
    cursor: pointer;
    position: relative;
    font-weight: 600;
    margin-top: 8px;
    text-align: center;
    margin-right: 20px;
  }
  
  .color__radio-button {
    height: 40px;
    width: 40px;
    border: 2px solid #707070;
    border-radius: 50%;
    display: block;
    position: relative;
  }
  .color__radio-button::after {
    content: "";
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .color__radio-input:checked ~ .color__label-radio .color__radio-button::after {
    opacity: 1;
    border:3px solid #fff;
    -webkit-box-shadow: 0px 3px 12px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 12px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 12px -4px rgba(0,0,0,0.75);}

  .btn-gray{
    background-color: #656565;
    margin-bottom: 3px;
  }

  .btn-white{
    background-color: #fff;
    margin-bottom: 3px;
  }

  .btn-black{
    background-color: #000;
    margin-bottom: 3px;
  }

/*----switch----*/
.switch-field {
	/* display: flex; */
	margin-bottom: 36px;
	overflow: hidden;
    margin-top: 30px;
    justify-content: space-between;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #fff;
    outline: 0;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	border: 2px solid #000;
	transition: all 0.1s ease-in-out;
    width: 48%;
}

.switch-field .v-field label{
    display: block;
    width: 100%;
  }





.switch-field label {
    border: 2px solid #707070;
}
.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #000;
	box-shadow: none;
    color: #fff;
    border: 2px solid #000;
    outline: 0;
}

.switch-field label {
	border-radius: 4px;
    text-transform: uppercase;
    font-family: "AcherusGrotesque-Bold", sans-serif;
}



  
/*---------360---*/


.bannerAbt{
    position: relative;
    margin-top: 75px;
    }
.bannerG{
    position: relative;
    margin-top: 75px;
    }

    .fnd-dlr {
        position: relative;
        margin-top: 75px;
        /* background-color: #000; */
        background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,1) 100%);
    }
    .bannerText{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .bannerText p{
        color: #fff;
        /* text-align: left;
        font-size: 18px; */
        font-size: 1.6rem;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: left;
        font-family: "AcherusGrotesque-Bold", sans-serif;
    }
    
    /*-------------about---------------*/
    .nopadding {
        padding-left: 0;
        padding-right: 0;
      }
    .about-sec{
        width: 100%;
        padding-bottom: 4rem;
    }
    
    #sliderOne, #sliderTwo, #sliderThree, #sliderFour{
        margin-bottom: 80px;
    }
    .slider-cnt{}
    
    .item-grid{
        display: flex;
        align-items: center;
        width: 100%;
    }
    
    .item-grid2{
        display: flex;
        align-items: center;
    }
    .img-sec img{
        clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
    }
    
     .img-sec2 img{
        clip-path: polygon(13% 0, 100% 0, 100% 100%, 0% 100%);
    } 
    .slider-cnt h2{
        font-family: "AcherusGrotesque-Bold", sans-serif;
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 35px;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 20px;
        width: 90%;
    }
    
    .slider-cnt p{
      width: 90%;
    }
    
    .slider-cnt-2{
    margin-left:10%;
    /* padding-top: 50%;
    transform: translateY(-50%); */
    }
    .slider-cnt-2 h2{
        font-family: "AcherusGrotesque-Bold", sans-serif;
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 35px;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 20px;
        width: 90%;
    }
    
    .slider-cnt-2 p{
      width: 90%;
    }
    
    
    .owl-common.owl-carousel.owl-theme .owl-nav {
        margin-top: 10px;
        position: absolute;
        right: 49%;
        bottom: 40px;
    }
    .owl-common.owl-carousel.owl-theme .owl-nav button img{
       
        width: 140px;
    }
    .owl-common.owl-carousel.owl-theme .owl-nav button.owl-next {
        left: 150px;
    }
    
    .owl-common.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
     
        background-color: #fff;
        color: #000;
    }
    .owl-common.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
        background-color: #fff;
        color: #000;
      
    }
    
    .owl-common.owl-carousel .owl-nav button.owl-prev {
        left: 0;
    }
    
    .owl-carousel .owl-nav button.owl-prev.disabled, .owl-carousel .owl-nav button.owl-next.disabled {
        opacity: .7;
    }
    
    .flt-left{
        margin-right: 5px;
        font-size: 13px!important;
    }
    .flt-right{
        margin-left: 5px;
        font-size: 13px !important;
    }
    /*-------------slider-2----------------*/
    
    
    .owl-common2.owl-carousel.owl-theme .owl-nav {
        margin-top: 10px;
        position: absolute;
        left: 4.5%;
        bottom: 40px;
    }
    .owl-common2.owl-carousel.owl-theme .owl-nav button img{
       
        width: 140px;
    }
    .owl-common2.owl-carousel.owl-theme .owl-nav button.owl-next {
        left: 150px;
    }
    
    .owl-common2.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
        background-color: #fff;
        color: #000;
    }
    .owl-common2.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
        background-color: #fff;
        color: #000;
      
    }
    
    .owl-common2.owl-carousel .owl-nav button.owl-prev {
        left: 0;
    }

    .owl-common.owl-carousel .owl-nav button.owl-prev, .owl-common.owl-carousel .owl-nav button.owl-next{
    background: white;
    width: 130px;
    border-radius: 5px;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0;
    line-height: 0;
    height: 40px;
    color: #000;
    font-family: "AcherusGrotesque-Bold", sans-serif;
    border: 2px solid #000;
    }

    .owl-common2.owl-carousel .owl-nav button.owl-prev, .owl-common2.owl-carousel .owl-nav button.owl-next{
        background: white;
        width: 130px;
        border-radius: 5px;
        font-size: 15px;
        text-transform: uppercase;
        padding: 0;
        line-height: 0;
        height: 40px;
        color: #000;
        font-family: "AcherusGrotesque-Bold", sans-serif;
        border: 2px solid #000;
        }

        .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
            color: #000;
           
        }

        .section-wheelbase .owl-carousel .owl-nav .owl-prev, .section-wheelbase .owl-carousel .owl-nav .owl-next {
            background-color: trasnaprent;
            border-radius: 0;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
/* -----PRICE----*/
.price-card{
	width: 85%;
	font-family: "AcherusGrotesque-Bold", sans-serif;
	background-color: #FAFAFA;
}

.theader {
	display: flex;
    justify-content: space-between;
    background: #E6E6E6;
	padding: 0 20px;
  }
  
  .table_header {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
	color: #545454;
	width: 50%;
	font-size: 16px;
  }
  
  
  .value-row{
	display: flex;
    justify-content: space-between;
	padding: 0 20px;
	position: relative;
    flex-wrap: wrap;
    color: #000000;
    cursor: pointer;
  }

  .value-row:hover{
	background-color: #000000;
    color: #fff;
    
  }

  .targetDiv{
    transition: 0.5s;
  }

  .value-row.active{
    background-color: #000000;
    color: #fff;
  }
  
  
  .value-row::after{
	content: "";
	position: absolute;
	height: 1px;
	width: 96%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: #E6E6E6;
	bottom: 0;

  }


  .value-row:hover::after{
	height: 0px;
  }

  .value-row.active::after{
	height: 0px;
  }

  .table-row {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;	
	width: 50%;
	font-size: 16px;
  }

  .table-row:hover {
    color: #fff;
  }

  .table-row a{
	color: #2453B3;
	text-decoration: underline;
  }

  .price{
	font-size: 20px;
  }


  .contact-form .form-row.form-fields {
    grid-template-columns: repeat(3, 1fr);
}

  @media (max-width: 767px) {
    .section-wheelbase .owl-carousel .owl-nav .owl-prev, .section-wheelbase .owl-carousel .owl-nav .owl-next {
        border: 1px solid #000;
        width: 40px;
        height: 40px;
    }

	.table_header {
		width: 50%;
    font-size: 16px;
}

.table-row {
	width: 50%;
    font-size: 16px;
}

.table_header:last-of-type {
    display: none;
}
.table-row {
    padding-top: 0;
    padding-bottom: 0;
}

.value-row {
    padding: 10px 20px;
  
}
.img-sec img {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

.img-sec2 img {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
  }
/* -----PRICE----*/


/* -----footer----*/

footer {
    color: #fafafa;
    background: #2f2f2f;
}
footer p{
margin: 0;
}


.f-logo{
    margin-top: 0.5rem;
}
.f-logo img{
    /* max-width: 250px; */
    height: auto;
}
ul {
    padding: 0px;
}
ol, ul {
    margin-bottom: 0px;
}

.social-icon {
    padding: 0;
    margin-bottom: 0px;
        float: right;
}

.social-icon li {
    list-style: none;
    display: inline-block;
}
.social-icon li i {
    font-size: 24px;
    color: #b2b2b2;
    
    height: 31px;
    width: 31px;
    text-align: center;
    vertical-align: middle;
    border-radius: 100px;
    line-height: 27px;
    margin-right: 15px;
    transition: 1s;

    
}



.footer-top {
    background: #2f2f2f;
    padding:50px 0 30px;
}
.footer-top h4 {
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 15px; 
   
}

.toll-no{
    font-weight: 600;
    font-size: 13px;
    margin-top: -6px;
}

.toll-no a:hover{
    color: #fafafa;
}
.fmt{
    margin-top: 6px;
}

.fmt-2{
    margin-top:10px;
}

.f-email{
    text-transform: none;
    font-size: 13px;
    margin-top: -7px;
}

.f-email a, .f-email a:hover{
    color: #fafafa;
}
.footer-top p {
    font-size: 13px;
    line-height: 2;
}

footer p {
  margin-bottom:0;
}
.footer-logo {
    display: block;
    margin-bottom: 32px;
}
.address1 li {
    font-family: "AcherusGrotesque-Bold",sans-serif;
    list-style: none;
    position: relative;
    /* padding: 0px 0 14px 34px;     */
    font-size: 13px;
    text-transform: uppercase;
    /* margin-bottom: 5px; */
    margin-top: -0.5rem;
}
.address1 li:last-of-type {
    margin-bottom: 0px;
}
ul.address1 span {
    position: absolute;
    width: 40px;
    max-width: 40px;
    left: 0;
}
.address1 li a {
    color: #fafafa;
    text-decoration: none;
}
ul.address1 i {
    width: 20px;
    position: absolute;
    left: 0px;
    text-align: center;
    font-size: 28px;
    top: 0;
}

ul.address1 i.fa-envelope {
    font-size: 18px;
    top: 4px;
}
footer ul.social-icon {
    float: left;
    display: flex;
}


.disclaimer-f{
    margin-top: 30px;
}

.disclaimer-f p{
    font-size: 13px;
    line-height: 17px;
}

.disclaimer-f p b{
   font-weight: 600;
   margin-right: 10px;
}


.footer-bottom {
       margin:  25px 0 0 0;
}
.footer-bottom ul li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
}
.footer-bottom ul li a{
    color: #fafafa;
    font-size: 15px;
}


.footer-bottom ul li:last-child {
    margin-right: 0;
}
.copyright {
    font-size: 15px;
    float: right;
}



/*-----social ---*/
   
#overlay-social {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    /* width: 20%; */
    height: 100%;
    background: rgb(13 12 12 / 70%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in;
    will-change: opacity;
  }
  #overlay-social.show {
    visibility: visible;
    opacity: 1;
  }
  
  #hamburger-social {
    z-index: 99999;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 50px;
    right: 30px;
    background-color: #000;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(10, 10, 10, 0.3);
    transition: all 0.2s ease-in-out;
  }
  #hamburger-social .icon-bar-social {
    display: block;
    background-color: #FFFFFF;
    width: 22px;
    height: 2px;
    transition: all 0.3s ease-in-out;
  }
  #hamburger-social .icon-bar-social + .icon-bar-social {
    margin-top: 10px;
  }
  #one-social{transform: translateY(6px) rotateZ(90deg) scaleX(0.9);
  }
  #thr-social{    transform: translateY(-6px) rotateZ(1deg) scaleX(0.9);}
  
  .nav-social {
        z-index: 9;
      position: fixed;
      bottom: 22.5%;
      right: 0;
      width: 48px;
      height: 20px;
      border-radius: 50%;
      /* background-color: #f9f9f9; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      visibilty: hidden;
      opacity: 0;
      /* box-shadow: 3px 3px 10px 0px rgb(0 0 0 / 48%); */
      /* cursor: pointer; */
      transition: all 0.3s ease-in;
  }
  .formNew .formBox{padding-bottom:5px;}
  
  .material-icons-social {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.54);
  }
  
  #settings-social.show {
    transform: translateY(-125%);
  }
  
  #thumb-social.show {
    transform: translateY(-250%);
  }
  
  #create-social.show {
    transform: translateY(-375%);
  }
  
  #share-social.show {
    transform: translateY(-500%);
  }
  
  #hamburger-social.show {
    box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.48);
  }
  #hamburger-social.show #wrapper-social {
    transition: transform 0.4s ease-in-out;
    transform: rotateZ(90deg);
  }
  #hamburger-social.show #one-social {
    transform: translateY(6px) rotateZ(45deg) scaleX(0.9);
  }
  #hamburger-social.show #thr-social {
    transform: translateY(-6px) rotateZ(-45deg) scaleX(0.9);
  }
  #hamburger-social.show #two {
    opacity: 0;
  }
  
  .nav-social.show {
    visibility: visible;
    opacity: 1;
    z-index: 99999;
  }
  
  
      .floatingButtonWrap-social {
      display: block;
      position: fixed;
      bottom: 45px;
      /* right: 45px; */
      z-index: 999999999;
  }
  
  .floatingButtonInner-social {
      position: relative;
  }
  
  .floatingButton-social {
      display: block;
      width: 60px;
      height: 60px;
      text-align: center;
      background: -webkit-linear-gradient(45deg, #47a23f, #47a23f);
      background: -o-linear-gradient(45deg, #47a23f, #47a23f);
      background: linear-gradient(45deg, #47a23f, #47a23f);
      color: #fff;
      line-height: 50px;
      position: absolute;
      border-radius: 50% 50%;
      bottom: 0px;
      right: 0px;
      border: 2px solid #47a23f;
      /* opacity: 0.3; */
      opacity: 1;
      transition: all 0.4s;
  }
  
  .floatingButton-social .fa {
      font-size: 17px !important;
          padding-top: 22px;
  }
  
  .floatingButton-social.open,
  .floatingButton-social:hover,
  .floatingButton-social:focus,
  .floatingButton-social:active {
      opacity: 1;
      color: #fff;
  }
  
  
  .floatingButton-social .fa {
      transform: rotate(0deg) !important;
      transition: all 0.4s;
  }
  
  .floatingButton-social.open .fa {
      transform: rotate(270deg);
  }
  
  .floatingMenu-social {
      position: absolute;
      bottom: -170px;
      right: 0;
      /* width: 200px; */
      display: block;
  }
  
  .floatingMenu-social li {
      width: 100%;
      float: right;
      list-style: none;
      text-align: right;
      margin-bottom: 10px;
  }
  
  .floatingMenu-social li a {
      padding: 8px 15px;
      display: inline-block;
      /* background: #ccd7f5; */
      color: #ffffff;
      border-radius: 5px;
      overflow: hidden;
      white-space: nowrap;
      transition: all 0.4s;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
      /* -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.22);
      box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.22); */
      /* -webkit-box-shadow: 1px 3px 5px rgba(211, 224, 255, 0.5);
      box-shadow: 1px 3px 5px rgba(211, 224, 255, 0.5); */
  }
  .floatingMenu-social li a span{
      margin-left:15px;
      border-radius:50%;
      background-color:#fdfcf8;
      padding:15px;
      margin-right:-12px;
      margin-left:10px;
      height: 50px;
      width: 50px;
  }
  .floatingMenu-social li a span img{
      width: 20px;
  }
  
  .floatingMenu-social li a:hover {
      margin-right: 10px;
      text-decoration: none;
  }
  .call-transition .show{
  transition: 7s ease-in;
  }
  .book-transition .show{
  transition: 6s ease-in;
  }
  .download-transition .show{
  transition: 5s ease-in;
  }
  #overlay-social {
    z-index: 9999;
    position: fixed;
    top: 0;
   right: 0;
    max-width: 320px;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 70%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in;
    will-change: opacity;
  }
    
   #overlay-social.show {
      visibility: visible;
      opacity: 1;
    }
  
  
/*-----social ---*/

@media screen and (max-width: 1366px) and (min-width: 1281px) {
    .slider-cnt-2 h2 {
        font-size: 1.3rem;
    }

    .owl-common.owl-carousel.owl-theme .owl-nav {
        bottom: 88px;
    }

    .owl-common2.owl-carousel.owl-theme .owl-nav {
        bottom: 70px;
    }
}
@media screen and (max-width: 1280px) and (min-width: 1025px) {
    .slider-cnt-2 h2 {
        font-size: 1.3rem;
    }

    .owl-common.owl-carousel.owl-theme .owl-nav {
        bottom: 24px;
    }

    .owl-common2.owl-carousel.owl-theme .owl-nav {
        bottom: 24px;
    }
}

@media (max-width:1024px) {

    .navbar-brand img{
        width: 90%;
    }
    .page-header .nav-link {
        font-size: 13px;
       
    }
    .owl-common.owl-carousel.owl-theme .owl-nav,.owl-common2.owl-carousel.owl-theme .owl-nav {
        margin-top: 10px;
        position: absolute;
        right: 50%;
        bottom: -30px;
    }

}
@media (max-width: 992px) {

    .navbar-expand-lg .navbar-nav .nav-link.active:after {
      background-color: #000;
      width: 150px;
    bottom: 0;
    left: 0;
    transform: translate(0)
    }
    
    .mobile-menu-footer .mm-btn-notify {
        width: 200px;
        line-height: 0;
        padding: 20px ;
    }

    .mobile-menu-footer .mm-notify-me {
        margin: 20px 0;
    }

    .mobile-menu-footer .mm-social-icon-notify {
        padding-left: 0;
    }

    .section-key-features #featuresTabContent .info-txt .txt {
        font-size: 17px;
    }
}
@media (max-width: 820px) {
    .page-header #navbar-hamburger {
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .owl-common.owl-carousel.owl-theme .owl-nav {
        margin-top: 10px;
        position: absolute;
        right: 50%;
        bottom: -30px;
     
    }

    .owl-common2.owl-carousel.owl-theme .owl-nav {
        margin-top: 10px;
        position: relative;
        left: 5%;
        bottom: -20px;
    } 

    .slider-cnt h2 {
        font-size: 1.3rem;
        line-height: 25px;
        margin-top: 20px;
    }
    
    .slider-cnt-2 h2 {
        font-size: 1.3rem;
        line-height: 25px;
        margin-top: 20px;
        
    }

    .slider-cnt p {
        margin-bottom: 30px;
    }

    .slider-cnt-2 p {
        margin-bottom: 30px;
    }

    .mobile-menu-footer .mm-phone, .mobile-menu-footer .mm-email {
        display: flex;
        align-items: center;
        word-break: break-all;
    }
    
}

@media (max-width: 768px) {

    .bannerG{
        /* background-color: #000; */
        background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,1) 100%);
       
    }

    .bannerText p {
        text-align: center;
        font-size: 1.5rem;
    }
    

    /* .view-360-heading {
        position: relative;        
        max-width: max-content;
        width: 100%;
        padding: 20px 0;
    }

    .view-360-heading h1 {
        font-size: 3rem;
    } */
    
    .bannerAbt {
        position: relative;
        /* background: #000; */
        background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,1) 100%);
    }
    .bannerText {
        position: relative;
      padding: 20px 0;
      transform: translate(0);
       
    }    

    .price-card{
        width: 100%;
    }

.footer-top h4 {      
    margin-top: 25px;
}

.copyright {
   
    float: left;
} 

.mobile-menu-footer .email-id {
    text-overflow: inherit;
    width: 100%;
    white-space: break-spaces;

}

}

@media (max-width: 767px) {


    .section-key-features #featuresTabContent .info-txt,.section-wheelbase .info-txt {
     min-height: 80px;
      }

    .banner-heading {
        position: relative;
         left: 0;
        transform: none;
        padding: 20px;
        
        margin-top: -7px;
    }

    .banner-heading h1 {
        font-size: 1.5rem;
        text-align: center;
    }
    

    .section-key-features #featuresTabContent .info-txt {
        min-height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .nav {
        padding-left: 8px;
        padding-right: 2px;
        padding-bottom: 10px;
    }

    .item-grid{
        display: block;
    } 
    .img-sec, .img-sec2 {
        clip-path: none;
    }

    .slider-cnt p, .slider-cnt-2 p  {
        width: 100%;
    }

    .slider-cnt h2, .slider-cnt-2 h2 {    
        font-size: 1.5rem;
        letter-spacing: 3px;
        width: 100%;
    }
    .slider-cnt {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20px;
        padding-bottom: 20px;
    }

    .slider-cnt-2 {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20px;
        padding-bottom: 20px;
    }
    .owl-common.owl-carousel.owl-theme .owl-nav button img, .owl-common2.owl-carousel.owl-theme .owl-nav button img {
        width: 100px;
    }

    .owl-common.owl-carousel.owl-theme .owl-nav, .owl-common2.owl-carousel.owl-theme .owl-nav {
        margin-top: 10px;
        position: absolute;
        bottom: -20px;
        left: 22%;
        transform: translateY(-50%);
        
    }

    .owl-common.owl-carousel.owl-theme .owl-nav button.owl-next, .owl-common2.owl-carousel.owl-theme .owl-nav button.owl-next {
        left: 115px;
    }
    
    .owl-common.owl-carousel .owl-nav button.owl-prev, .owl-common.owl-carousel .owl-nav button.owl-next {
        width: 100px;
        height: 35px;
    }

    .owl-common2.owl-carousel .owl-nav button.owl-prev, .owl-common2.owl-carousel .owl-nav button.owl-next {
     width: 100px;
      height: 35px;
}

.card {
    height: auto !important;
}

.address1{
    margin-top: 25px;
}
.address1 li {    
    margin-bottom: 0;
}

.nav-link {
    padding: 0.5rem 0 0 0;
}

}

@media (max-width: 640px) {

.owl-common.owl-carousel.owl-theme .owl-nav, .owl-common2.owl-carousel.owl-theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    bottom: -20px;
    left: 20%;
    transform: translateY(-50%);
    
}

}

@media (max-width: 480px) {

    .fancybox-slide {
        padding: 5px;

    }

.fancybox-slide--video .fancybox-content {
        width: 98% !important;
}


.floatingMenu-social {
    /* right: -33px;
    bottom: -120px; */

}

}


@media (min-width: 768px) {

    .leftrightText h3 {
        font-size: 28px;
    }

    .copyright {
         float: right;
    } 

    .flex-lg-row {
        -ms-flex-direction: row!important;
        flex-direction: row!important;
    }
}


